# Core functionality - changes here should be rare!
/src/app.py                    @BhyWub
/src/backend/database.py       @BhyWub
/src/backend/routers/auth.py   @BhyWub

# The frontend will need refactored soon to be more object oriented.
/src/static/   @BhyWub
